body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  max-width: 800px;
  background: gray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.ticTacToeGame {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.gameBoard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  aspect-ratio: 1;
  width: 50vh;
  gap: 5px;

}

.cell {
  aspect-ratio: 1;
  border: 2px solid black;
  display: grid;
  place-content: center;
  font-size: 4rem;
  position: relative;
  user-select: none;
}

.cellIndex {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  font-size: 1rem;
}

.whoseTurn {
  font-size: 2rem;
}

.whoAmI {
  font-size: 2rem;
}